.tag {
    display: inline-block;
    box-sizing: border-box;

    border-radius: 20px;
    margin-right: 5px;
}

.s {
    font-size: 12px;

    padding: 5px 10px;
    line-height: 12px;
}

.m {
    font-size: 14px;

    padding: 5px 10px;
    line-height: 14px;
}

.ghost {
    border: 1px solid var(--gray-light);
}

.red {
    color: var(--white);
    background: var(--red);

    font-weight: bold;
}

.gray {
    color: var(--white);
    background: #B3C0D9;

    font-weight: bold;
}


.green {
    color: var(--green);
    background-color: var(--green-light);

    font-weight: bold;
}

.primary {
    color: var(--primary);
    background: none;
    border: 1px solid var(--primary);
}
