html,
body {
	margin: 0;
	padding: 0;
	background: #F5F6F8;
	color: var(--black);

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*	html {*/
/*		color-scheme: dark;*/
/*	}*/

/*	body {*/
/*		color: white;*/
/*		background: black;*/
/*	}*/
/*}*/

:root {
	--white: white;
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
	--primary: #7653FC;
	--primary-hover: #6344df;
	--red: #DE0000;
	--orange: #FC836D;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
}
